*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family: "Inter", sans-serif;


}
body{
	box-sizing: border-box;
	width:100%;
	max-width: 100vw;
	font-weight: bold;	
	font-size:20px;
	max-height: 761px;
}
header{
	background-color: red;
	height: 130px;
	width: 100%;
	display:flex;
	justify-content: space-evenly;
	align-items: center;

}

main{
	background-color: #D9D9D9;
	display:flex;
	flex-direction: column;
	align-items: center;
	height: 720px;

}

.main-firstpart{	

	width:940px;
	display:flex;
	margin-top: 20px;
	margin-bottom:20px;
}


.main-secondpart{
	display: flex;
	justify-content:space-between;
	width:940px;
}
.main-secondpart > :first-child{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	
}


.container{
	background-color: #FFFFFF;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 30px;
}
.container-small{
	width:300px;
	height:300px;
}
.container-big{
	width:620px;
	height:620px;
}
.container-detail-small{
	display:grid;
	background-color: #FFFFFF;
	grid-template-columns: 1fr 1fr 1fr;
	height: 25%;

}
.container-detail-small > :first-child{
	margin:auto;
}
.container-detail-small > :nth-child(2)  {
	
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	padding:10px 
}
.container-detail-small > :last-child{
	display:flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content:space-between;
	padding:10px;
	margin-right: auto;

}
.container-detail-supersmall{
	display:flex;
	justify-content: space-between;
	width:70%;
	align-items: center;
	

}




.container-detail-small-main{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width:100%;


}

.line{
	border-top: 1px solid #808080 ;
	max-width: 100%;
	width:100%;
}
.container-detail-supersmall-main{
	display:flex;
	justify-content: space-between;
	max-width: 100%;
	width:100%;
}


.container-big > :nth-child(1) {
	height:41%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.container-big > :nth-child(2) {
	height:27%;
	justify-content:flex-end ;
	width:55%;
}

.container-big > :nth-child(3) {
	height:32%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.container-detail-supersmall-main *{
	margin-top: 10%;
}



.container-big img.icon-normal{
	transform: translate(-100%, 200%);
}


footer{
	display:flex;
	height:300px;
	justify-content: space-evenly;
	margin-top:50px;
}



.footer-title{
	margin-bottom: 20px;
}

.container-footer :last-child *{
	margin-bottom: 10px;
}


.input{
	border-radius: 20px;
	display:flex;
	justify-content: center;
	align-items: center;

}
.input-search{
	display:flex;
	justify-content: space-between;
	background-color: white;
	width:400px;
	height:44px;
	padding:20px;
}
.input-rectangle-normal{
	width: 142px;
	height: 45px;
	background-color: black;
}

.input-rectangle-special{
	width: 185px;
	height: 35px;
	background-color: #DC2626;
	border-radius: 10px;
}

.input-circle-normal{
	background-color: #D9D9D9;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.input-circle-special{
	background-color: #D9D9D9;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}




.text-head{
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}
.text-normal{
	font-size:16px;
	font-weight: bold;
	color: black;
}
.text-normal-btn{
	font-weight: bold;
}

.text-small{
	font-size:12px;
}

.bold{
	font-weight: bold;
}
.regular{
	font-weight: normal;
}
.red{
	color:red;
}
.gray{
	color:#808080;
}
.white{
	color:#FFFFFF;
}


.icon{
	
}
.icon-logo{
	width:110px;
	height: 110px;
}
.icon-normal{
	width:24px;
	height: 24px;
}
.icon-special{
	width:50px;
	height: 50px;
}


#Delete2{
	display: none;
}


@media screen and (min-width: 700px) and (max-width: 950px) {
 
header{
	height: 90px;
}
main{
	height: 610px;
}
 .main-firstpart{
 	width:680px;
 }
 .main-secondpart {
        
 	width:680px;
   }
.main-secondpart  .container-small{
	width:275px;
	height:239px;
}
.main-secondpart .container-big{
	width:385px;
	height:498px;
}


.container-big > :nth-child(2) {
	height:27%;
	justify-content:flex-end ;
	width:80%;
}



footer > *{

	height: 200px;
	margin-top: 50px;
}





.input-search{
	display:flex;
	justify-content: space-between;
	background-color: white;
	width:265px;
	height:38px;
	padding:20px;
}
.input-rectangle-normal{
	width: 105px;
	height: 38px;
	background-color: black;
}

.input-rectangle-special{
	width: 185px;
	height: 35px;
	background-color: #DC2626;
	border-radius: 10px;
}

.input-circle-normal{
	background-color: #D9D9D9;
	width: 41px;
	height: 41px;
	border-radius: 50%;
}
.input-circle-special{
	background-color: #D9D9D9;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}




.text-head{
	font-size: 14px;
	font-weight: 100;
	color: #FFFFFF;
}
.text-normal{
	font-size:14px;
	font-weight: bold;
	color: black;
}
.text-normal-btn{
	font-weight: bold;
}

.text-small{
	font-size:11px;
}

.bold{
	font-weight: bold;
}
.regular{
	font-weight: normal;
}
.red{
	color:red;
}
.gray{
	color:#808080;
}
.white{
	color:#FFFFFF;
}


.icon{
	
}
.icon-logo{
	width:80px;
	height: 80px;
}
.icon-normal{
	width:18px;
	height: 18px;
}
.icon-special{
	width:50px;
	height: 50px;
}
}

@media screen and (min-width: 300px) and (max-width: 700px) {
 


 #Delete1{
 	display: none;
 }
 #Delete2{
 	display: block;
 }
header{
	height: 90px;
	justify-content: space-around;
}
main{
	height: 610px;


}
 .main-firstpart{
 	width:300px;
 	justify-content: flex-start;

 }
 .main-secondpart {
        
 	width:100%;
 	justify-content: center; 	
 }
.main-secondpart  .container-small{
	width:275px;
	height:239px;
}
.main-secondpart .container-big{
	width:300px;
	height:498px;
}


.container-big > :nth-child(2) {
	height:27%;
	justify-content:flex-end ;
	width:80%;
}



footer{

	height: 200px;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
	margin-top: 20px;	
}


.container-footer{
	margin-top:20px;
}


.input-search{
	display:flex;
	justify-content: space-between;
	background-color: white;
	width:150px;
	height:20px;
	padding:20px;
}
.input-rectangle-normal{
	width: 105px;
	height: 38px;
	background-color: black;
}

.input-rectangle-special{
	width: 185px;
	height: 35px;
	background-color: #DC2626;
	border-radius: 10px;
}

.input-circle-normal{
	background-color: #D9D9D9;
	width: 41px;
	height: 41px;
	border-radius: 50%;
}
.input-circle-special{
	background-color: #D9D9D9;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}




.text-head{
	font-size: 10px;
	font-weight: 100;
	color: #FFFFFF;
}
.text-normal{
	font-size:14px;
	font-weight: bold;
	color: black;
}
.text-normal-btn{
	font-weight: bold;
}

.text-small{
	font-size:11px;
}

.bold{
	font-weight: bold;
}
.regular{
	font-weight: normal;
}
.red{
	color:red;
}
.gray{
	color:#808080;
}
.white{
	color:#FFFFFF;
}


.icon{
	
}
.icon-logo{
	width:80px;
	height: 80px;
}
.icon-normal{
	width:18px;
	height: 18px;
}
.icon-special{
	width:50px;
	height: 50px;
}

header .icon-normal{
	width:10px;
	height: 10px;
}

}



@media screen and (min-width: 400px) and (max-width: 700px) {
	footer{
		display:grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		margin: 0 30px;

	}
	footer > * {
/*		margin:auto ;*/
	}


} 