* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  width: 100%;
  max-width: 100vw;
  font-size: 20px;
  background-color: #f1eeee;
}
.website {
  max-width: 1162px;
  width: 100%;
  margin: 0 auto;
  background-color: #d9d9d9;
}
header {
  background-color: #cb1c22;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 6.88%;
}

.main-firstpart {
  display: flex;
  margin-top: 28px;
}

.main-secondpart {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 28px;
}
.main-secondpart > :first-child {
  margin-right: 20px;
  width: 100%;
  max-width: 300px;
  min-width: 260px;
}
.main-secondpart > :last-child {
  max-width: 682px;
  min-width: 400px;
  width: 100%;
  padding: 0 30px;
}
.container-small:last-child {
  margin-top: 20px;
}
.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
}
.container-small {
  width: 100%;

  /* padding: 0 69%; */
}

.container-small > * {
  margin-top: 36px;
}
.container-small-wrap {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
}

.container-small-wrap > * {
  margin-top: 28px;
}
.container-small-wrap > :last-child {
  margin-bottom: 39px;
}

.container-detail-supersmall {
  margin-top: 20px;
}
.container-detail-supersmall > img {
  margin-left: 10px;
}
.container .container-detail-small {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  width: 100%;
}

.container-detail-small > :first-child {
  margin-right: 26px;
}

.container-detail-small > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
}

.container-detail-supersmall {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
.container-detail-supersmall > :first-child {
  margin-right: 38px;
}
.container-detail-small-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.line {
  border-top: 1px solid #808080;
  max-width: 100%;
  width: 100%;
}
.container-detail-supersmall-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #808080;
}
.container-big-wrapper {
  max-width: 390px;
  width: 100%;
}
.container-big {
  width: 100%;
}
.container-big > :nth-child(1) {
  margin: 66px auto 0;
}
.container-big > :nth-child(2) {
  justify-content: flex-end;
  width: 100%;
  max-width: 390px;
  margin-bottom: 0;
  line-height: 18.7px;
}

.container-big > :nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-detail-supersmall-main {
  padding-bottom: 4px;
}
.container-detail-supersmall-main:nth-of-type(1) {
  margin-top: 52px;
}
.container-detail-supersmall-main:nth-of-type(n + 2) {
  margin-top: 23px;
}

.container-big img.icon-normal {
  margin-top: 99px;
}
.small1 > :nth-child(1) {
  margin-top: 30px;
}
.small1 > * {
  margin-top: 30px;
}
.small2 > * {
  margin-top: 36.5px;
}
/* .small2 > :first-child {
  margin-top: 36px;
} */

.main-thirdpart {
  display: none;
  position: absolute;

  top:197px
}
footer {
  margin-top: 69px;
  padding-top: 27px;
  display: flex;
  height: 187px;
  justify-content: space-evenly;

  background-color: white;
}

.footer-title {
  margin-bottom: 20px;
}

.container-footer :last-child * {
  margin-bottom: 10px;
}

.delete2 {
  display: none;
}

#camera-main {
  position: absolute;
  right: 10px;
}

.input {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-search {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 384px;
  width: 100%;
  height: 44px;
  padding: 20px;
}
.input-rectangle-normal {
  min-width: 142px;
  height: 45px;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 45px;
  border-radius: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 10px;
}

.input-rectangle-special {
  width: 185px;
  height: 35px;
  background-color: #dc2626;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 65px;
  margin-bottom: 65px;
}

.input-circle-normal {
  background-color: #d9d9d9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.input-circle-special {
  background-color: #d9d9d9;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.text-head {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.text-normal {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.text-normal-btn {
  font-weight: bold;
}

.text-small {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}
.regular {
  font-weight: normal;
}
.red {
  color: #cb1c22;
}
.gray {
  color: #808080;
}
.white {
  color: #ffffff;
}

.icon-normal {
  width: 24px;
  height: 24px;
}
.icon-special {
  width: 50px;
  height: 50px;
}
.icon-super-special {
  width: 143px;
  height: 139px;
  margin: 0 auto;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  header {
    padding: 0 19px;
    height: 90px;
    width: 100%;
  }
  header > :nth-child(1) {
    height: 66px;
    width: 69px;
  }
  header > :nth-child(3) > .icon-normal {
    width: 18px;
    height: 17px;
  }
  header > :nth-child(2n) {
    height: 38px;
    min-width: 110px;
    line-height: 38px;
    font-size: 14px;
  }
  header > :nth-child(3) {
    width: 265px;
    height: 38px;
  }
  header > :nth-child(5) {
    width: 41px;
    height: 41px;
  }

  .text-head {
    font-size: 12px;
  }
  header > :nth-child(2n) {
    max-width: 110px;
    min-width: 86px;
    width: 100%;
  }

  header > :nth-child(3) {
    max-width: 265px;
    min-width: 185px;
    width: 100%;
    padding: 0 2.625%;
  }
  main {
  padding: 0 7.5%;
  width: 100%;

  }
  .input-rectangle-normal {
    margin: 0 5px;
  }

  .main-firstpart {
    margin-top: 17px;
  }
  .main-secondpart {
    margin-top: 17px;
    max-width: 680px;
    width: 100%;
  }
    .main-secondpart > :first-child {
    max-width: 275px;
    min-width: 200px;
    width: 100%;
  }
  .main-secondpart > :last-child {
    max-width: 385px;
    min-width: 210px;
    width: 100%;
    padding: 0 4.8%;
  }
  .container-small {
    width: 100%;
  }
  .container-small-wrap {
    width: 100%;
    max-width: 256px;
    min-width: 200px;
    padding: 0 10px;
    margin: 0;
  }
  .small1 {
  }
  .small1 > :nth-child(1) {
    margin-top: 16px;
  }
  .small1 > :nth-child(2) {
    margin-top: 36px;
  }
  .small1 > :nth-child(3) {
    margin-top: 16px;
  }
  .small1 > :nth-child(4) {
    margin-top: 16px;
    margin-bottom: 34px;
  }
  .container-detail-small {
    flex-wrap: wrap;
  }
  .container-detail-small > :nth-child(1) {
    margin-right: 16px;
  }
  .container-detail-small > :nth-child(2) {
    margin-right: 23px;
  }
  .container-detail-small {
    width: 100%;
    min-width: 50px;
  }
  .small2 > :first-child {
    margin-top: 31px;
  }
  .small2 > :nth-child(n + 2) {
    margin-top: 27px;
  }
  .container-detail-supersmall > :first-child {
    margin-right: 35px;
  }
  .small2 > :last-child {
    margin-bottom: 31px;
  }

  .container-big {
    max-width: 385px;
/*    min-width: 200px;*/
    width: 100%;
  }
  .container-big > :nth-child(1) {
    margin: 47px auto 0;
  }
  .container-big > :nth-child(2) {
    justify-content: flex-end;
    width: 100%;
    max-width: 390px;
    margin-bottom: 0;
    line-height: 18.7px;
  }
  .container-detail-supersmall-main:nth-of-type(1) {
    margin-top: 24px;
  }
  .container-detail-supersmall-main:nth-of-type(n + 2) {
    margin-top: 28px;
  }
  .input-rectangle-special {
    margin-top: 34px;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 300px) and (max-width: 499px){
  .delete1{
    display: none;
  }
  .delete2{
    display: block;
  }
  body{

  }
  header{
    height: 85px;
    padding: 0 14px;

  }
  header .icon-logo{
    width: 49px;
    height: 55px;
  }
  header .input-search{
   
    max-width: 150px;
    
    height: 20px;
    width: 100%;
    padding: 4px 4%;


  }
  header .icon-normal{
    width: 10px;
    height: 10px;
  }
  .text-head{
    font-size: 10px;
  }

  main{
    padding: 0;
  }
  .main-firstpart{
    margin-top: 10px;
  }
  .main-secondpart{
    margin-top: 10px;
  }
  .main-secondpart > :first-child{
 
  }
  .main-secondpart > :last-child{
    max-width: 500px;
    min-width: 300px;
    padding: 0 20px;
  }
  .main-firstpart{
    padding-left: 7.7%;
  }
  .container-big{

    width: 100%;
    border-radius: 0;
  }
  .main-thirdpart{
    display: block;
  }
  footer{
    margin-top: 15px;
    flex-direction: column;
    padding-left: 7.7%;
  }
}